<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <div class="pop form">
    <div class="logo"></div>
    <form action="/" method="post">
      <input autocomplete="off" type="text" placeholder="imie" id="name" name="name">
      <select name="level" id="level">
        <option value="easy">łatwy</option>
        <option value="medium">średni</option>
        <option value="hard">trudny</option>

      </select>
      <input type="submit" value="Start">
    </form>
  </div>
</body>

</html>